.todosList {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	padding: 3rem;
}

.todoItem {
	display: flex;	
	gap: 1rem;
}

.heading {
	font-weight: bold;	
}

.heading span {
	flex-basis: 22%;
	border-left: 1px solid lightgray;
	padding-left: 1rem;	
}

.heading span:nth-of-type(1) {
	flex-basis: 3%;
	border-left: none;
}

.todoItem span {	
	flex-basis: 22%;
	display: flex;
	align-items: center;
	text-align: start;
	padding-left: 1rem;
}

.itemNum {
	flex-basis: 3%;	
}