.todosList {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	padding: 1rem 3rem;
}

.todoItem {
	display: flex;	
	justify-content: space-between;
}

.heading {
	font-weight: bold;	
}

.heading span {
	border-left: 1px solid lightgray;
	padding-left: 1rem;
}

.todoItem span {
	flex-basis: 33%;
	text-align: start;
	padding-left: 1rem;
}